<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>


<form action="/login" method="post">
    <h1>Log in here</h1>
    <fieldset>



        <label for="userName">User Name</label>
        <input type="text" name="userName" id="userName" >

        <label for="hashedPassword">Password</label>
        <input type="password" name="hashedPassword" id="hashedPassword" >

        <input type="submit" value="Log in">

    </fieldset>
</form>
</body>
</html>