<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Posts</title>-->
<!--    <link rel="stylesheet" type="text/css" href="style.css">-->
<!--</head>-->
<!--<body>-->

<!--<h1> Posts: </h1>-->


<!--<form action="/post" method="post">-->
<!--    <h1>Add new post</h1>-->
<!--    <fieldset>-->
<!--        <label for="postContent">New Post</label>-->
<!--        <input type="text" name="postContent" id="postContent" >-->

<!--        <input type="submit" value=" Add ">-->

<!--    </fieldset>-->
<!--</form>-->

<!--<th:block block th:each="Posts : ${post}" >-->

<!--    <p th:text="${post.postContent}"> </p>-->

<!--</th:block>-->

<!--<form action="/logout" method="post">-->

<!--    <input type="submit" value=" Log out ">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h1>Posts:</h1>

<form action="/addpost" method="post">
    <h2>Add new post</h2>

    <textarea id="postContent" name="postContent" rows="4" cols="50"></textarea>
    <br><br>
        <input type="submit" value="Add">
</form>

<ul>
<th:block th:each="post : ${p}">
    <li th:text="${post.postContent}"></li>
</th:block>
</ul>

<!--<p th:text = " ${userName}"></p>-->

<form action="/logout" method="post">
    <input type="submit" value="Log out">
</form>

</body>
</html>
